{% extends "base.html" %}
{% block title %}Moje objekty fakturace{% endblock %}

{% block content %}
    <h1>Moje objekty fakturace</h1>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Název</th>
            <th>Adresa</th>
            <th>Místo</th>
            <th>Středisko</th>
            <th>Středisko mail</th>
            <th>Distribuce</th>
            <th>Poznámka</th>
            <th>OM</th>
            <th>Fakturace</th>
            <th>Ceny distribuce</th>
        </tr>
        {% for o in objekty %}
        <tr>
            <td>{{ o.id }}</td>
            <td>{{ o.nazev }}</td>
            <td>{{ o.adresa }}</td>
            <td>{{ o.misto }}</td>
            <td>{{ o.stredisko }}</td>
            <td>{{ o.stredisko_mail }}</td>
            <td>{{ o.distribuce }}</td>
            <td>{{ o.poznamka }}</td>
            <td><a href="{{ url_for('pridat_misto', objekt_id=o.id) }}">spravovat</a></td>
            <td><a href="{{ url_for('fakturace_objekt', objekt_id=o.id) }}">Fakturovat</a></td>
            <td><a href="{{ url_for('ceny_distribuce', objekt_id=o.id) }}">Zobrazit ceny</a></td>
              
        </tr>
        {% endfor %}
    </table>
    <p><a href="{{ url_for('pridat_objekt') }}">Přidat nový objekt</a></p>

    {% endblock %}
