<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <title>Moje aplikace</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      </head>
      
<body>
    <h2>Úprava údajů dodavatele</h2>
    <form method="POST">
        <label>SRO: <input name="sro" value="{{ user.sro or '' }}" type="text"></label>
        <label>Adr. řádek 1: <input name="adr1" value="{{ user.adr1 or '' }}" type="text"></label>
        <label>Adr. řádek 2: <input name="adr2" value="{{ user.adr2 or '' }}" type="text"></label>
        <label>IČO: <input name="ico" value="{{ user.ico or '' }}" type="text"></label>
        <label>DIČ: <input name="dic" value="{{ user.dic or '' }}" type="text"></label>
        <label>Zápis: <input name="zapis" value="{{ user.zapis or '' }}" type="text"></label>
        <label>Banka: <input name="banka" value="{{ user.banka or '' }}" type="text"></label>
        <label>Číslo účtu: <input name="ucet" value="{{ user.ucet or '' }}" type="text"></label>
        <label>SWIFT: <input name="swift" value="{{ user.swift or '' }}" type="text"></label>
        <label>IBAN: <input name="iban" value="{{ user.iban or '' }}" type="text"></label>
        <button type="submit">Uložit změny</button>
    </form>
    <a href="{{ url_for('objekty') }}">Zpět na objekty</a>
</body>
</html>
